@model Broadband.Models.UserMessage

@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        position: absolute;
        background-image: url("../core/internet-1170x658.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }

</style>

<div class="container1">
    <div class="text">
        <h1>Welcome to KISL</h1><br>
        <h2>Fly to the universe of fastest internet</h2><br>
        <h3>
            KISL has come a long way since its establishment in 2000.<br>
            From small beginnings as a provider of dial-up & radio link <br>
            Internet access to local businesses, we have grown consistently<br>
            and organically as a communications provider serving a diverse<br>
            portfolio of business class voice and data services.
        </h3>

    </div>

    <div class="gif">
        <img src="core/pecha.gif">
    </div>
</div>
<div id="packages" class="container2">
    <div class="text">
        <h1>
            Pricing Plans
        </h1>
        <h2>
            Choose a package that suits your budget & business.
        </h2>
    </div>
    <br>
    <br>
    <br>

    <div class="flexcol">
        <div class="flexrow">
            <div>
                <h1>🔥Gold+</h1>
                <h1 style="font-weight: 400;color: #b2beb5;font-size: 1.5rem;">Best for Home users</h1>

                <div class="speedbox">
                    <h1>40 Mbps</h1>
                </div>

            </div>
            <div>
                <ul>
                    <li>
                        <span><i class="fa-solid fa-check" style="color: #00ff00;"></i></span>
                        <span>100 Mbps BDIX and Other Speed</span>
                    </li>

                    <li>
                        <span><i class="fa-solid fa-check" style="color: #00ff00;"></i></span>
                        <span>4K Youtube and Facebook<br>Stream.</span>
                    </li>

                    <li>
                        <span><i class="fa-solid fa-check" style="color: #00ff00;"></i></span>
                        <span>Optical Fiber Connection</span>
                    </li>


                </ul>


            </div>
            <div>

                <ul>
                    <li>
                        <span><i class="fa-solid fa-check" style="color: #00ff00;"></i></span>
                        <span>IPv6 Public IP Only</span>
                    </li>

                    <li>
                        <span><i class="fa-solid fa-check" style="color: #00ff00;"></i></span>
                        <span>24/7 Phone and Online Support</span>
                    </li>

                    <li>
                        <span><i class="fa-solid fa-check" style="color: #00ff00;"></i></span>
                        <span>1:8 Contention Ratio</span>
                    </li>


                </ul>

            </div>
            <div class="price">
                <h1>TK990/mo</h1>
                <input type="button" onclick="location.href='Identity/Account/Register'" value="Buy Now">

            </div>
        </div>

        <div class="flexrow">
            <div>
                <h1>🔥Platinum+</h1>
                <h1 style="font-weight: 400;color: #b2beb5;font-size: 1.5rem;">Choice For Gamers</h1>

                <div class="speedbox" style="background-color: #F8718C;">
                    <h1>50 Mbps</h1>
                </div>

            </div>
            <div>
                <ul>
                    <li>
                        <span><i class="fa-solid fa-check" style="color: #00ff00;"></i></span>
                        <span>100 Mbps BDIX and Other Speed</span>
                    </li>

                    <li>
                        <span><i class="fa-solid fa-check" style="color: #00ff00;"></i></span>
                        <span>4K Youtube and Facebook<br>Stream.</span>
                    </li>

                    <li>
                        <span><i class="fa-solid fa-check" style="color: #00ff00;"></i></span>
                        <span>Optical Fiber Connection</span>
                    </li>


                </ul>


            </div>
            <div>

                <ul>
                    <li>
                        <span><i class="fa-solid fa-check" style="color: #00ff00;"></i></span>
                        <span>IPv6 Public IP Only</span>
                    </li>

                    <li>
                        <span><i class="fa-solid fa-check" style="color: #00ff00;"></i></span>
                        <span>24/7 Phone and Online Support</span>
                    </li>

                    <li>
                        <span><i class="fa-solid fa-check" style="color: #00ff00;"></i></span>
                        <span>1:8 Contention Ratio</span>
                    </li>


                </ul>

            </div>
            <div class="price">
                <h1>TK1390/mo</h1>
                <input type="button" onclick="location.href='Identity/Account/Register';"
                       value="Buy Now">

            </div>
        </div>

        <div class="flexrow">
            <div>
                <h1>🔥Diamond+</h1>
                <h1 style="font-weight: 400;color: #b2beb5;font-size: 1.5rem;">Upload Speed Unlocked</h1>

                <div class="speedbox" style="background-color: #4F46E5;">
                    <h1>60 Mbps</h1>
                </div>

            </div>
            <div>
                <ul>
                    <li>
                        <span><i class="fa-solid fa-check" style="color: #00ff00;"></i></span>
                        <span>100 Mbps BDIX and Other Speed</span>
                    </li>

                    <li>
                        <span><i class="fa-solid fa-check" style="color: #00ff00;"></i></span>
                        <span>4K Youtube and Facebook<br>Stream.</span>
                    </li>

                    <li>
                        <span><i class="fa-solid fa-check" style="color: #00ff00;"></i></span>
                        <span>Optical Fiber Connection</span>
                    </li>


                </ul>


            </div>
            <div>

                <ul>
                    <li>
                        <span><i class="fa-solid fa-check" style="color: #00ff00;"></i></span>
                        <span>IPv6 Public IP Only</span>
                    </li>

                    <li>
                        <span><i class="fa-solid fa-check" style="color: #00ff00;"></i></span>
                        <span>24/7 Phone and Online Support</span>
                    </li>

                    <li>
                        <span><i class="fa-solid fa-check" style="color: #00ff00;"></i></span>
                        <span>1:8 Contention Ratio</span>
                    </li>


                </ul>

            </div>
            <div class="price">
                <h1>TK1790/mo</h1>
                <input type="button" value="Buy Now" onclick="location.href='Identity/Account/Register';">

            </div>
        </div>

        <div class="flexrow">
            <div>
                <h1>🔥Sapphire+</h1>
                <h1 style="font-weight: 400;color: #b2beb5;font-size: 1.5rem;">Always get ahead of others</h1>

                <div class="speedbox" style="background-color: #9333EA;">
                    <h1>80 Mbps</h1>
                </div>

            </div>
            <div>
                <ul>
                    <li>
                        <span><i class="fa-solid fa-check" style="color: #00ff00;"></i></span>
                        <span>100 Mbps BDIX and Other Speed</span>
                    </li>

                    <li>
                        <span><i class="fa-solid fa-check" style="color: #00ff00;"></i></span>
                        <span>4K Youtube and Facebook<br>Stream.</span>
                    </li>

                    <li>
                        <span><i class="fa-solid fa-check" style="color: #00ff00;"></i></span>
                        <span>Optical Fiber Connection</span>
                    </li>


                </ul>


            </div>
            <div>

                <ul>
                    <li>
                        <span><i class="fa-solid fa-check" style="color: #00ff00;"></i></span>
                        <span>IPv6 Public IP Only</span>
                    </li>

                    <li>
                        <span><i class="fa-solid fa-check" style="color: #00ff00;"></i></span>
                        <span>24/7 Phone and Online Support</span>
                    </li>

                    <li>
                        <span><i class="fa-solid fa-check" style="color: #00ff00;"></i></span>
                        <span>1:8 Contention Ratio</span>
                    </li>


                </ul>

            </div>
            <div class="price">
                <h1>TK2090/mo</h1>
                <input type="button" value="Buy Now" onclick="location.href='Identity/Account/Register';">

            </div>
        </div>

    </div>
</div>

<div class="ques">
    <div class="container2">
        <div class="text spacing">
            <h1>Have Doubts?</h1>
            <h2>
                Ask your query. We will get back to you as soon as possible
            </h2>

        </div>

    </div>
    <div class="contactForm">
        <form asp-action="Create">
            <h1>
                Send Message</h1>
            <div class="inputBox">
                <input asp-for="Name" type="text" required="required">
                <span>Name</span>
            </div>

            <div class="inputBox">
                <input asp-for="Email" type="text" required="required">
                <span>Email</span>
            </div>

            <div class="inputBox">
                <textarea asp-for="Query" required="required"></textarea>
                <span>Type your query here...</span>
            </div>

                <div class="inputBox">
                    <input type="submit" value="Send">
                </div>
        </form>

    </div>
</div>
