
@{
    ViewData["Title"] = "About";
}
@*<link rel="stylesheet" href="~/css/style.css" />*@

<img src="core/aboutimg.png" width="100%">
<div class=" container4">
    <h1 style="color: orangered;">Khulna Internet Services Limited</h1>
    <br>
    <br>
    <br>
    <h4 style="font-weight: 400;line-height: 1.6;">
        Beginning our journey in the year 2000, Khulna Internet Services
        Limited is a leading IT solution provider offering a range of solutions including IP telephony,
        cybersecurity, Office 365 and fixed fiber broadband connections across both the retail and corporate markets
        of Bangladesh. In October of 2021, KISL crossed 100k retail broadband connections, becoming the largest ISP
        in the country in terms of active subscribers. KISL is also a pioneer in offering integrated solutions in
        the corporate sector of Bangladesh and is the only ISP connected with every bank in the country.

        <br><br>At KISL, we place the customer at the center of our business and our highly trained team of
        professionals ensure a level of quality and service which remain unmatched by any other player in the
        industry. We believe in innovating to simplify and in taking ownership of our actions and services. Whether
        it be people or organizations, we see it as our duty to enrich the lives of all our customers and to become
        the preferred choice for a digital lifestyle in the market
    </h4>
</div>
<div class="container4">
    <h1 style="color: orangered;">Mission and Vision</h1>
    <br>
    <br>
    <br>
    <h4 style="font-weight: 400;line-height: 1.6;">
        Amberit is set out to do the things our customers want in an
        Internet service providing company. Which is to provide the most reliable service, coupled with the most
        sophisticated and modern equipment available.<br><br>

        We envision a world with ease of access and with hassle free service. We are striving to be an exceptional
        citizen in the virtual frontier.
    </h4>
</div>
<div class="container4">
    <h1 style="color: orangered;">Find Us Here</h1>
    <br>
    <br>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3677.4662787350558!2d89.55037561145335!3d22.82223232368742!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39ff90089bf88dc7%3A0xb26720ff9233a60e!2sShib%20Bari%20Mor!5e0!3m2!1sen!2sbd!4v1687034087440!5m2!1sen!2sbd" width="1500" height="400" style="border:5px solid azure; border-radius:20px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

